**.bin
**.model
**.pyc
**.gif
**.pth
**.csv
**.npy
events.**
MappingModel**
**.tar.gz
**.zip
**.jpg
**.wav
log
./models
webvid
audiosetdl
data
**.tsv
esc50
**_each.txt
vggsound_audio
LinearModel**
residual**
.checkpoints
**.safetensors